<header>
  <nav class="navbar navbar-expand-lg bg-body fixed-top">
    <div class="container-fluid">
      <div class="titulos">
        <h1><img src="gestion.png" alt="titulo"> Sistema de Gestión de Eventos </h1>
      </div>
    </div>
  </nav>
</header>
<div class="contenido">
  <router-outlet></router-outlet>
</div>
<footer>
  <nav class="navbar navbar-expand-lg bg-body fixed-bottom">
    <div class="container-fluid d-flex justify-content-center">
      <h3 class="m-0">© 2025 Copyright Luis Fernando Guevara Triana</h3>
    </div>
  </nav>
</footer>
